<div class="container">
    <h1 class="display-4">Additive Translator</h1>
    <p class="lead">What would you like to translate today?</p>
</div>
<form method="POST" action="/sendit">
    <div class="container">
        <div class="form-group">
            <div class="row">
                <div class="col-sm">
                    <label for="target">Translate to:</label>
                    <select name="target" class="form-control">
                        <option value="en">English</option>
                        <option value="fr">French</option>xs
                        <option value="de">German</option>
                        <option value="es">Spanish</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">

                <div class="col-sm">
                    <textarea name="text" class="form-control" rows="10" placeholder="Message to translate">{{keep}}</textarea>
                </div>
                <div class="col-sm">
                    <textarea class="form-control" rows="10" placeholder="Translated message">{{result}}</textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
<div class="form-group">
        <button type="submit" class="btn btn-primary">Translate It!</button>
        </div>
        </div>
        </div>
    </div>
</form>